In [94]:
import pandas as pd
import subprocess
import datetime as dt

In [95]:
image_file = pd.read_csv('thermal_plot_image.csv')

In [96]:
class Thermal:
    def get_tar(season, date):
        command = f'iget -rKTPf -N 0 /iplant/home/shared/terraref/ua-mac/level_1/{season}/EnvironmentLogger/{date}_clean.tar.gz'
        subprocess.call(command, shell = True)
        command = f'tar -xvf {date}_clean.tar.gz'
        subprocess.call(command, shell = True)

## Retrieve csv data and organize/clean up
    def retrieve_data(season, date):
        tar_data = Thermal.get_tar(season, date)
        data = pd.read_csv(f'./{date}_clean.csv')
        data['Time'] = pd.to_datetime(data['Time'])
        #data['date'] = data.Time.dt.date
        #data['time'] = data.Time.dt.time
        data_clean = data[['Time', 'Sun Direction', 'Temperature', 
                                      'Photosynthetically active radiation']]
        #index_data = data_clean.set_index('time')
        return data_clean

In [97]:
EL = Thermal.retrieve_data('season_10_yr_2020', '2020-03-03')

In [98]:
EL

,Time,Sun Direction,Temperature,Photosynthetically active radiation
0,2020-03-03 00:00:00,340.872219,9.833674,0.0
1,2020-03-03 00:01:00,341.344646,9.855037,0.0
2,2020-03-03 00:02:00,341.937925,9.821467,0.0
3,2020-03-03 00:03:00,342.454299,9.812311,0.0
4,2020-03-03 00:04:00,342.959685,9.781793,0.0
...,...,...,...,...
1435,2020-03-03 23:55:00,338.762780,12.070681,0.0
1436,2020-03-03 23:56:00,339.268166,12.070681,0.0
1437,2020-03-03 23:57:00,339.773553,12.073733,0.0
1438,2020-03-03 23:58:00,340.289926,12.058473,0.0
1439,2020-03-03 23:59:00,340.751366,11.991333,0.0

In [105]:
image_filei = image_file.set_index('Date and Time')

In [119]:
time1 = image_file['Date and Time'][1]
time1dt = pd.to_datetime(time1)

In [120]:
result_index = EL['Time'].sub(time1dt).abs().idxmin()

In [121]:
result_index

526

In [122]:
EL.iloc[526]

Time                                   2020-03-03 08:46:00
Sun Direction                                      114.833
Temperature                                        12.4766
Photosynthetically active radiation                740.813
Name: 526, dtype: object